body{
        background-color:#bfe3e6;
    }

hr  {
        border-style: none;
        border-top-style: dotted;
        border-color: rgb(138, 21, 21);
        border-width: 5px;
        width: 30%;
    }

h1  {
        color:#66BFBF;
    }
    
h3  {
        color:#66BFBF;
    }